*{
	padding: 0;
	margin: 0;
}

.menu{
	border-bottom: 1px solid #F2F2F2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 69px;
	margin-bottom: 36px;
}

.main-nav{
	display: flex;
	align-items: center;
}

.main-nav ul{
	display: flex;
	gap: 20px;
	list-style: none;
}

.main-nav a{
	text-decoration: none;
	color: #000;
	font-family: Cardo;
	font-size: 17px;
}

.main-banner{
	background-image: url(assets/images/main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 698px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-banner__title{
	color: #FFF;
	font-family: Roboto;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: 38.4px;
	text-align: center;
	margin-bottom: 31px;
}

.main-banner__btn{
	padding: 7px 41px;
	background-color: transparent;
	border:  1px solid #FFF;	
}

.main-banner__btn span{
	color: #FFF;
	font-family: Cardo;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; 
}

.main-banner__black-box{
	padding: 15px 31px;
	border-radius: 1px 1px 0px 0px;
	background: #050505;
	position: absolute;
	left: 20px;
	bottom: 3px;
}

.main-banner__black-box{
	color: #FFF;
	text-align: center;
	font-family: Cardo;
	font-size: 15px;
}
.main-banner__black-box span{
	color:white;
	text-align: center;
	font-family: Cardo;
	font-size: 15px;
}
.services{
	height: 155px;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
	border: 1px solid black;
}
.services_item{
	display: flex;
	align-items: center;
	gap: 15px;
}
.galerry{
	display: flex;
	margin-bottom: 114px;
}
.galerry img{
	flex-grow: 1;
}
.product{
	display: flex;
}
.product__text-content{
	width: 33%;
	/* border: 1px solid black; */
}
.product__img-content{
	width: 67%;
	overflow: hidden;
	border: 1px solid black ;
}
.product__img-content img{
	width: 100%;
}
.product__title{
	color: #000;
	text-align: right;
	font-family: Roboto;
	font-size: 33px;
	font-weight: 700;
	line-height: 56px; 
	margin-right: 48px;
	margin-top: 49px;
}
.product__type{
	color: #000;
	text-align: right;
	font-family: Cardo;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	line-height: 37.143px; 
}
.product__price{
	color: #000;
	text-align: right;
	font-family: Cardo;
	font-size: 15px;;
	line-height: 27.857px;
	margin-right: 48px;
	margin-top: 19px;
}
.product__desc{
	color: #525252;
	text-align: right;
	font-family: Cardo;
	font-size: 18px;
	line-height: 30.6px;
	margin-right: 12px;
	margin-top: 12px;
	padding-left: 0;
}
.product__link{
	display: block;
	color: #000;
	text-align: right;
	font-family: Roboto;
	font-size: 17px;
	line-height: 22px; 
	margin-right: 48px;
	margin-top: 66px;
	text-decoration: underline;
}
.product__size{
	color: #54595F;
	font-family: Cardo;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 27.2px; /* 170% */
}
.producy__img-content1{
	display: flex;
	margin: 15px 15px 0px 0px;
	position: absolute;
}
.product__text-content1{
	text-align: right;
	margin-right: 25px;
	margin-top: 54px;
	padding-right: 0;
	
}

